[Desktop Entry]
Version=1.0
Name=Storm SSH
Comment=Cross-Platform Interface to stormssh
Exec=/usr/bin/storm-gui
Terminal=false
Type=Application
Icon=network-wired
Categories=GNOME;Network;
StartupNotify=false
GenericName=
